<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Artiste Favoris</h1>
    <div>Veuillez selectionné un artists : </div>
    <div class = "chart" id = "data"> 
       
        <form action="/result" method="post">
            {% for name in artists_name %}
            <p>{{ name }} <input type="checkbox" name = "artist" value = {{ name }} id ='name'  /><br/> </p> 
            
            {% endfor %}
        <p> <input type="submit" value="Envoyer" /> </p> <!-- submit button -->
        
        </form>
        
    </div>
</body>
</html>