body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(191, 210, 211, 0.297);
    
}
h2{
    color: rgb(120, 159, 156);
    margin-top: 0px;
    text-align :center;
    font-size: 30px;
    font-style: italic;
    
}
 